soneta-form-xml-workspace/skill-snapshot/references/Form.xsd

<xs:schema
    xmlns:xs='http://www.w3.org/2001/XMLSchema'
    targetNamespace='http://www.enova.pl/schema/form.xsd'
    xmlns='http://www.enova.pl/schema/form.xsd'
    elementFormDefault='qualified'>

	<xs:element name="DataForm">
		<xs:complexType>
			<xs:choice minOccurs="1" maxOccurs="unbounded">
				<xs:element name="Stack" type="stackElement" maxOccurs="unbounded"/>
				<xs:element name="Flow" type="flowElement" maxOccurs="unbounded"/>
				<xs:element name="Row" type="rowElement" maxOccurs="unbounded"/>
				<xs:element name="Bar" type="barElement" maxOccurs="unbounded"/>
				<xs:element name="Dashboard" type="dashboardElement" maxOccurs="unbounded"/>
				<xs:element name="Include" type="includeElement" maxOccurs="unbounded"/>
				<xs:element name="Group" type="groupElement" maxOccurs="unbounded"/>
				<xs:element name="Page" type="pageElement" maxOccurs="unbounded"/>
				<xs:element name="Grid" type="gridElement" maxOccurs="unbounded"/>
				<xs:element name="Cards" type="cardsElement" maxOccurs="unbounded"/>
				<xs:element name="CardTemplate" type="cardTemplateElement" maxOccurs="unbounded"/>
				<xs:element name="Scheduler" type="schedulerElement" maxOccurs="unbounded"/>
				<xs:element name="Diagram" type="diagramElement" maxOccurs="unbounded"/>
				<xs:element name="CustomDiagram" type="customDiagramElement" maxOccurs="unbounded" />
				<xs:element name="TreeDiagram" type="treeDiagramElement" maxOccurs="unbounded"/>
				<xs:element name="ThreadComments" type="threadCommentsElement" maxOccurs="unbounded"/>
				<xs:element name="Gantt" type="ganttElement" maxOccurs="unbounded"/>
				<xs:element name="GanttDiagram" type="ganttDiagramElement" maxOccurs="unbounded" />
				<xs:element name="KanbanDiagram" type="kanbanDiagramElement" maxOccurs="unbounded" />
				<xs:element name="Pivot" type="pivotElement" maxOccurs="unbounded"/>
				<xs:element name="PivotGrid" type="pivotGridElement" maxOccurs="unbounded" />
				<xs:element name="Chart" type="chartElement" maxOccurs="unbounded"/>
				<xs:element name="List" type="gridElement" maxOccurs="unbounded"/>
				<xs:element name="Field" type="fieldElement" maxOccurs="unbounded"/>
				<xs:element name="Label" type="uiElement" maxOccurs="unbounded"/>
				<xs:element name="Data" type="dataElement" maxOccurs="unbounded"/>
				<xs:element name="Gap" type="uiElement" maxOccurs="unbounded"/>
				<xs:element name="Html" type="htmlElement" maxOccurs="unbounded"/>
				<xs:element name="Markdown" type="markdownElement" maxOccurs="unbounded"/>
				<xs:element name="Command" type="commandElement" maxOccurs="unbounded"/>
				<xs:element name="Indicator" type="indicatorElement" maxOccurs="unbounded"/>
				<xs:element name="PercentIndicator" type="percentIndicatorElement" maxOccurs="unbounded"/>
				<xs:element name="RangeSlider" type="rangeSliderElement" maxOccurs="unbounded"/>
				<xs:element name="TimelineClock" type="timelineClockElement" maxOccurs="unbounded"/>
				<xs:element name="DateNavigator" type="dateNavigatorElement" maxOccurs="unbounded"/>
				<xs:element name="CircularIndicator" type="circularIndicatorElement" maxOccurs="unbounded"/>
				<xs:element name="Chips" type="chipsElement" maxOccurs="unbounded"/>
				<xs:element name="UserControl" type="userControlElement" maxOccurs="unbounded"/>
				<xs:element name="Template" type="templateElement" maxOccurs="unbounded"/>
			</xs:choice>
			<xs:attribute name="Priority" type="xs:int" use="optional" default="100"/>
			<xs:attribute name="Contexts" type="xs:string" use="optional"/>
			<xs:attribute name="ViewType" type="enumDataFormView" use="optional"/>
			<xs:attribute name="Mode" type="enumDataFormMode" use="optional"/>
			<xs:attribute name="RightName" type="xs:string" use="optional"/>
			<xs:attribute name="RightCaption" type="xs:string" use="optional"/>
			<xs:attribute name="ResourceName" type="xs:string" use="optional"/>
			<xs:attribute name="DataType" type="xs:string" use="optional"/>
			<xs:attribute name="ViewMode" type="enumGanttViewMode" use="optional"/>
		</xs:complexType>
	</xs:element>

  <xs:complexType name="containerElement" mixed="true">
    <xs:complexContent>
      <xs:extension base="uiElement">
        <xs:sequence minOccurs="0">
          <xs:choice maxOccurs="unbounded">
            <xs:element name="Stack" type="stackElement" maxOccurs="unbounded" />
            <xs:element name="Flow" type="flowElement" maxOccurs="unbounded" />
            <xs:element name="Row" type="rowElement" maxOccurs="unbounded" />
            <xs:element name="Bar" type="barElement" maxOccurs="unbounded" />
            <xs:element name="Dashboard" type="dashboardElement" maxOccurs="unbounded" />
            <xs:element name="Include" type="includeElement" maxOccurs="unbounded" />
            <xs:element name="Group" type="groupElement" maxOccurs="unbounded" />
            <xs:element name="Page" type="pageElement" maxOccurs="unbounded" />
            <xs:element name="Grid" type="gridElement" maxOccurs="unbounded" />
						<xs:element name="Cards" type="cardsElement" maxOccurs="unbounded" />
						<xs:element name="CardTemplate" type="cardTemplateElement" maxOccurs="unbounded" />
						<xs:element name="Scheduler" type="schedulerElement" maxOccurs="unbounded" />
            <xs:element name="Diagram" type="diagramElement" maxOccurs="unbounded" />
						<xs:element name="CustomDiagram" type="customDiagramElement" maxOccurs="unbounded" />
						<xs:element name="TreeDiagram" type="treeDiagramElement" maxOccurs="unbounded" />
						<xs:element name="GanttDiagram" type="ganttDiagramElement" maxOccurs="unbounded" />
						<xs:element name="KanbanDiagram" type="kanbanDiagramElement" maxOccurs="unbounded" />
						<xs:element name="ThreadComments" type="threadCommentsElement" maxOccurs="unbounded"/>
						<xs:element name="Gantt" type="ganttElement" maxOccurs="unbounded" />
            <xs:element name="Pivot" type="pivotElement" maxOccurs="unbounded" />
		        <xs:element name="PivotGrid" type="pivotGridElement" maxOccurs="unbounded" />
            <xs:element name="Chart" type="chartElement" maxOccurs="unbounded" />
            <xs:element name="List" type="gridElement" maxOccurs="unbounded" />
            <xs:element name="Field" type="fieldElement" maxOccurs="unbounded" />
						<xs:element name="Label" type="uiElement" maxOccurs="unbounded" />
						<xs:element name="Splitter" type="uiElement" maxOccurs="unbounded" />
            <xs:element name="Data" type="dataElement" maxOccurs="unbounded" />
            <xs:element name="Gap" type="uiElement" maxOccurs="unbounded" />
            <xs:element name="Html" type="htmlElement" maxOccurs="unbounded" />
						<xs:element name="Markdown" type="markdownElement" maxOccurs="unbounded" />
            <xs:element name="Command" type="commandElement" maxOccurs="unbounded" />
            <xs:element name="Indicator" type="indicatorElement" maxOccurs="unbounded" />
            <xs:element name="PercentIndicator" type="percentIndicatorElement" maxOccurs="unbounded" />
			<xs:element name="RangeSlider" type="rangeSliderElement" maxOccurs="unbounded" />
			<xs:element name="TimelineClock" type="timelineClockElement" maxOccurs="unbounded" />
			<xs:element name="DateNavigator" type="dateNavigatorElement" maxOccurs="unbounded"/>
			<xs:element name="CircularIndicator" type="circularIndicatorElement" maxOccurs="unbounded"/>
			<xs:element name="Chips" type="chipsElement" maxOccurs="unbounded"/>
            <xs:element name="UserControl" type="userControlElement" maxOccurs="unbounded" />
            <xs:element name="Template" type="templateElement" maxOccurs="unbounded" />
          </xs:choice>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="templateElement" mixed="true">
    <xs:complexContent>
      <xs:extension base="uiElement">
        <xs:choice minOccurs="1" maxOccurs="1">
          <xs:element name="Stack" type="stackElement" maxOccurs="unbounded" />
          <xs:element name="Flow" type="flowElement" maxOccurs="unbounded" />
          <xs:element name="Row" type="rowElement" maxOccurs="unbounded" />
          <xs:element name="Bar" type="barElement" maxOccurs="unbounded" />
          <xs:element name="Dashboard" type="dashboardElement" maxOccurs="unbounded" />
          <xs:element name="Include" type="includeElement" maxOccurs="unbounded" />
          <xs:element name="Group" type="groupElement" maxOccurs="unbounded" />
          <xs:element name="Page" type="pageElement" maxOccurs="unbounded" />
          <xs:element name="Grid" type="gridElement" maxOccurs="unbounded" />
					<xs:element name="Cards" type="cardsElement" maxOccurs="unbounded" />
					<xs:element name="CardTemplate" type="cardTemplateElement" maxOccurs="unbounded" />
					<xs:element name="Scheduler" type="schedulerElement" maxOccurs="unbounded" />
          <xs:element name="Diagram" type="diagramElement" maxOccurs="unbounded" />
					<xs:element name="CustomDiagram" type="customDiagramElement" maxOccurs="unbounded" />
					<xs:element name="TreeDiagram" type="treeDiagramElement" maxOccurs="unbounded" />
					<xs:element name="GanttDiagram" type="ganttDiagramElement" maxOccurs="unbounded" />
					<xs:element name="KanbanDiagram" type="kanbanDiagramElement" maxOccurs="unbounded" />
					<xs:element name="ThreadComments" type="threadCommentsElement" maxOccurs="unbounded"/>
					<xs:element name="Gantt" type="ganttElement" maxOccurs="unbounded" />
          <xs:element name="Pivot" type="pivotElement" maxOccurs="unbounded" />
	        <xs:element name="PivotGrid" type="pivotGridElement" maxOccurs="unbounded" />
          <xs:element name="Chart" type="chartElement" maxOccurs="unbounded" />
          <xs:element name="List" type="gridElement" maxOccurs="unbounded" />
          <xs:element name="Field" type="fieldElement" maxOccurs="unbounded" />
          <xs:element name="Label" type="uiElement" maxOccurs="unbounded" />
          <xs:element name="Data" type="dataElement" maxOccurs="unbounded" />
          <xs:element name="Gap" type="uiElement" maxOccurs="unbounded" />
          <xs:element name="Html" type="htmlElement" maxOccurs="unbounded" />
		  <xs:element name="Markdown" type="markdownElement" maxOccurs="unbounded" />
          <xs:element name="Command" type="commandElement" maxOccurs="unbounded" />
          <xs:element name="Indicator" type="indicatorElement" maxOccurs="unbounded" />
		  <xs:element name="PercentIndicator" type="percentIndicatorElement" maxOccurs="unbounded" />
		  <xs:element name="RangeSlider" type="rangeSliderElement" maxOccurs="unbounded" />
		  <xs:element name="TimelineClock" type="timelineClockElement" maxOccurs="unbounded" />
		  <xs:element name="DateNavigator" type="dateNavigatorElement" maxOccurs="unbounded"/>
		  <xs:element name="CircularIndicator" type="circularIndicatorElement" maxOccurs="unbounded"/>
		  <xs:element name="Chips" type="chipsElement" maxOccurs="unbounded"/>
		  <xs:element name="UserControl" type="userControlElement" maxOccurs="unbounded" />
          <xs:element name="Template" type="templateElement" maxOccurs="unbounded" />
        </xs:choice>
				<xs:attribute name="AllowUpdating" type="xs:boolean" use="optional" />
			</xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="flowElement">
    <xs:complexContent>
      <xs:extension base="containerElement">
		  <xs:attribute name="Align" type="xs:boolean" use="optional" />
		  <xs:attribute name="Arrange" type="enumArrangeType" use="optional" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="stackElement">
    <xs:complexContent>
      <xs:extension base="containerElement">
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="rowElement">
    <xs:complexContent>
      <xs:extension base="containerElement">
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

	<xs:complexType name="groupElement">
		<xs:complexContent>
			<xs:extension base="containerElement">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="groupCommandElement" mixed="true">
		<xs:complexContent>
			<xs:extension base="uiElement">
				<xs:sequence minOccurs="0">
					<xs:choice maxOccurs="unbounded">
						<xs:element name="Command" type="commandElement" />
						<xs:element name="Template" type="templateElement" />
					</xs:choice>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="barElement">
    <xs:complexContent>
      <xs:extension base="containerElement">
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

	<xs:complexType name="pageElement">
		<xs:complexContent>
			<xs:extension base="containerElement">
				<xs:attribute name="Key" type="xs:string" use="optional"/>
				<xs:attribute name="MultiDataSource" type="xs:string" use="optional"/>
				<xs:attribute name="GroupIcon" type="xs:string" use="optional"/>
				<xs:attribute name="DefaultVisible" type="xs:boolean" use="optional"/>
				<xs:attribute name="FirstAction" type="xs:string" use="optional"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

  <xs:complexType name="includeElement">
    <xs:complexContent>
      <xs:extension base="containerElement">
        <xs:attribute name="Source" type="xs:string" use="required" />
        <xs:attribute name="Suffix" type="xs:string" use="optional" />
        <xs:attribute name="Path" type="xs:string" use="optional" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="fieldElement">
    <xs:complexContent>
      <xs:extension base="uiElement">
        <!--
        <xs:attribute name="EditorType" type="xs:string" use="optional" />
        <xs:attribute name="EditorData" type="xs:string" use="optional" />
        -->
        <xs:attribute name="Format" type="xs:string" use="optional" />
        <xs:attribute name="CheckedValue" type="xs:string" use="optional" />
        <xs:attribute name="Footer" type="enumAggregationType" use="optional" />
        <xs:attribute name="Aggregate" type="enumAggregationType" use="optional" />
        <xs:attribute name="Important" type="xs:boolean" use="optional" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="indicatorElement">
    <xs:complexContent>
      <xs:extension base="commandElement">
        <xs:attribute name="UnitSymbol" type="xs:string" use="optional" />
        <xs:attribute name="TimeSpanSymbol" type="xs:string" use="optional" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="percentIndicatorElement">
    <xs:complexContent>
      <xs:extension base="uiElement">
				<xs:attribute name="StrokeWidth" type="xs:int" use="optional" />
        <xs:attribute name="StrokeColor" type="enumColorPalette" use="optional" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

	<xs:complexType name="rangeSliderElement">
		<xs:complexContent>
			<xs:extension base="uiElement">
				<xs:attribute name="Min" type="xs:int" use="optional" />
				<xs:attribute name="Max" type="xs:int" use="optional" />
				<xs:attribute name="Step" type="xs:int" use="optional" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

  <xs:complexType name="collectionElement" mixed="true">
    <xs:complexContent>
      <xs:extension base="uiElement">
        <xs:sequence minOccurs="0">
          <xs:choice maxOccurs="unbounded">
            <xs:element name="Field" type="fieldElement" maxOccurs="unbounded" />
						<xs:element name="Command" type="commandElement" maxOccurs="unbounded" />
						<xs:element name="Flow" type="flowElement" maxOccurs="unbounded" />
            <xs:element name="GroupBy" type="groupByElement" maxOccurs="unbounded" />
            <xs:element name="Axis" type="axisElement" maxOccurs="unbounded" />
          </xs:choice>
        </xs:sequence>
        <xs:attribute name="SelectedValue" type="xs:string" use="optional" />
        <xs:attribute name="FocusedValue" type="xs:string" use="optional" />
        <xs:attribute name="OrderBy" type="xs:string" use="optional" />
        <xs:attribute name="Filter" type="xs:string" use="optional" />
        <xs:attribute name="IsToolbarVisible" type="xs:boolean" use="optional" />
        <xs:attribute name="IsDateNavigatorVisible" type="xs:boolean" use="optional" />
        <xs:attribute name="IsSmartFilterVisible" type="xs:boolean" use="optional" />
        <xs:attribute name="IsFilterRowVisible" type="xs:boolean" use="optional" />
        <xs:attribute name="FilterPanelWidth" type="xs:string" use="optional" />
        <xs:attribute name="VisibleFeatures" type="xs:string" use="optional" />
        <xs:attribute name="LocatorFields" type="xs:string" use="optional" />
				<xs:attribute name="EditInPlace" type="xs:boolean" use="optional" />
				<xs:attribute name="ForceEditInPlace" type="xs:boolean" use="optional" />
        <xs:attribute name="NewInPlace" type="xs:boolean" use="optional" />
        <xs:attribute name="AlwaysAddNewRow" type="xs:boolean" use="optional" />
        <xs:attribute name="PreventNewRowOnFocus" type="xs:boolean" use="optional" />
				<xs:attribute name="OpenMethodName" type="xs:string" use="optional" />
				<xs:attribute name="SequenceMethodName" type="xs:string" use="optional" />
        <xs:attribute name="IsSmartOpen" type="xs:boolean" use="optional" />
        <xs:attribute name="IsNonOptimalWarning" type="xs:boolean" use="optional" />
        <xs:attribute name="NewButton" type="enumCollectionButtonState" use="optional" />
        <xs:attribute name="EditButton" type="enumCollectionButtonState" use="optional" />
        <xs:attribute name="UpdateButton" type="enumCollectionButtonState" use="optional" />
        <xs:attribute name="RemoveButton" type="enumCollectionButtonState" use="optional" />
				<xs:attribute name="SearchButton" type="enumCollectionButtonState" use="optional" />
				<xs:attribute name="MoreButton" type="enumMoreButtonState" use="optional" />
        <xs:attribute name="SumType" type="enumCollectionSumType" use="optional" />
        <xs:attribute name="ActionsMode" type="enumActionsMode" use="optional" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="dataElement">
    <xs:sequence minOccurs="0">
      <xs:choice maxOccurs="unbounded">
        <xs:element name="Data" type="dataElement" maxOccurs="unbounded" />
        <xs:element name="Binary" type="xs:short" maxOccurs="unbounded" />
      </xs:choice>
    </xs:sequence>
		<xs:attribute name="Name" type="xs:string" use="optional" />
		<xs:attribute name="Value" type="xs:string" use="optional" />
		<xs:attribute name="EditValue" type="xs:string" use="optional" />
	</xs:complexType>

  <xs:complexType name="gridUserFilter">
    <xs:attribute name="Value" type="xs:string" use="required" />
  </xs:complexType>

  <xs:complexType name="gridElement" mixed="true">
    <xs:complexContent>
      <xs:extension base="collectionElement">
        <xs:sequence minOccurs="0">
          <xs:choice maxOccurs="unbounded">
            <xs:element name="Data" type="dataElement" />
            <xs:element name="UserFilter" type="gridUserFilter" />
					</xs:choice>
        </xs:sequence>
        <xs:attribute name="ResourceName" type="xs:string" use="optional" />
        <xs:attribute name="TreeNodesValue" type="xs:string" use="optional" />
        <xs:attribute name="TreeHasNodesValue" type="xs:string" use="optional" />
        <xs:attribute name="TreeParentValue" type="xs:string" use="optional" />
        <xs:attribute name="TreeExpandingLevel" type="enumTreeExpandingLevel" use="optional" />
        <xs:attribute name="FocusedColumnValue" type="xs:string" use="optional" />
        <xs:attribute name="IsHeaderVisible" type="xs:boolean" use="optional" />
        <xs:attribute name="KeepsSequence" type="xs:boolean" use="optional" />
        <xs:attribute name="IgnoreChangingInSort" type="xs:string" use="optional" />
        <xs:attribute name="SortAfterEditInPlace" type="xs:boolean" use="optional" />
		<xs:attribute name="DragAndDrop" type="xs:boolean" use="optional" />
		<xs:attribute name="AllowCellSelection" type="xs:boolean" use="optional" />
		<xs:attribute name="SelectedCellsValue" type="xs:string" use="optional" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

	<xs:complexType name="cardsElement" mixed="true">
		<xs:complexContent>
			<xs:extension base="gridElement">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="cardTemplateElement" mixed="true">
		<xs:complexContent>
			<xs:extension base="stackElement">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="schedulerElement">
    <xs:complexContent>
      <xs:extension base="collectionElement">
        <xs:attribute name="View" type="enumSchedulerViews" use="optional" />
        <xs:attribute name="AllowViewChanging" type="xs:boolean" use="optional" />
        <xs:attribute name="SelectedInterval" type="xs:string" use="optional" />
        <xs:attribute name="VisibleInterval" type="xs:string" use="optional" />
        <xs:attribute name="WorkInterval" type="xs:string" use="optional" />
        <xs:attribute name="Resources" type="xs:string" use="optional" />
        <xs:attribute name="SelectedResource" type="xs:string" use="optional" />
        <xs:attribute name="HideDateField" type="xs:boolean" use="optional" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="diagramElement">
    <xs:complexContent>
      <xs:extension base="collectionElement">
				<xs:attribute name="MethodsHandler" type="xs:string" use="optional" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

	<xs:complexType name="customDiagramElement">
		<xs:complexContent>
			<xs:extension base="collectionElement">
				<xs:attribute name="MethodsHandler" type="xs:string" use="optional" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="treeDiagramElement">
		<xs:complexContent>
			<xs:extension base="collectionElement">
				<xs:attribute name="LayoutType" type="enumTreeDiagramLayoutType" use="optional" />
				<xs:attribute name="MethodsHandler" type="xs:string" use="optional" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="ganttDiagramElement">
		<xs:complexContent>
			<xs:extension base="collectionElement">
				<xs:attribute name="MethodsHandler" type="xs:string" use="optional" />
				<xs:attribute name="WorkTimeStart" type="xs:string" use="optional" />
				<xs:attribute name="WorkTimeFinish" type="xs:string" use="optional" />
				<xs:attribute name ="WorkOnSaturday" type="xs:string" use="optional" />
				<xs:attribute name ="WorkOnSunday" type="xs:string" use="optional" />
				<xs:attribute name ="MarkHolidays" type="xs:string" use="optional" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="kanbanDiagramElement">
		<xs:complexContent>
			<xs:extension base="collectionElement">
				<xs:attribute name="MethodsHandler" type="xs:string" use="optional" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="threadCommentsElement">
		<xs:complexContent>
			<xs:extension base="collectionElement">
				<xs:attribute name="MethodsHandler" type="xs:string" use="optional" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="ganttElement">
		<xs:complexContent>
			<xs:extension base="collectionElement">
				<xs:attribute name="AllowViewChanging" type="xs:boolean" use="optional" />
				<xs:attribute name="MethodsHandler" type="xs:string" use="optional" />
				<xs:attribute name="ViewType" type="enumGanttViews" use="optional" />
				<xs:attribute name="ViewMode" type="enumGanttViewMode" use="optional" />
				<xs:attribute name ="Resources" type="xs:string" use="optional" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

  <xs:complexType name="pivotElement">
    <xs:complexContent>
      <xs:extension base="collectionElement">
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="pivotGridElement">
    <xs:complexContent>
      <xs:extension base="collectionElement">
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="chartElement">
    <xs:complexContent>
      <xs:extension base="collectionElement">
        <xs:attribute name="Type" type="enumChartType" use="optional" />
        <xs:attribute name="FocusedColumnValue" type="xs:string" use="optional" />
        <xs:attribute name="ChartColor" type="enumColorPalette" use="optional" />
        <xs:attribute name="IsColorShaded" type="xs:boolean" use="optional" />
        <xs:attribute name="IsGradientDisabled" type="xs:boolean" use="optional" />
        <xs:attribute name="IsLegendVisible" type="xs:boolean" use="optional" />
        <xs:attribute name="LabelFormat" type="xs:string" use="optional" />
        <xs:attribute name="LabelPosition" type="enumChartLabelPosition" use="optional" />
        <xs:attribute name="PieLabelPosition" type="enumPieChartLabelPosition" use="optional" />
        <xs:attribute name="SecondYAxis" type="xs:boolean" use="optional" />
        <xs:attribute name="SecondChartColor" type="enumColorPalette" use="optional" />
        <xs:attribute name="SecondChartType" type="enumChartType" use="optional" />
        <xs:attribute name="StackType" type="enumStackType" use="optional" />
        <xs:attribute name="AxesSwap" type="xs:boolean" use="optional" />
        <xs:attribute name="XAxisCaptionHtml" type="xs:string" use="optional" />
        <xs:attribute name="XAxisLabelFormat" type="xs:string" use="optional" />
        <xs:attribute name="XAxisMinTickDistance" type="xs:decimal" use="optional" />
        <xs:attribute name="YAxisCaptionHtml" type="xs:string" use="optional" />
        <xs:attribute name="YAxisLabelFormat" type="xs:string" use="optional" />
        <xs:attribute name="YAxisMinTickDistance" type="xs:decimal" use="optional" />
        <xs:attribute name="YAxis2CaptionHtml" type="xs:string" use="optional" />
        <xs:attribute name="YAxis2LabelFormat" type="xs:string" use="optional" />
        <xs:attribute name="YAxis2MinTickDistance" type="xs:decimal" use="optional" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="axisElement">
    <xs:complexContent>
      <xs:extension base="uiElement">
        <xs:attribute name="Direction" type="enumPivotDirection" use="optional" />
        <xs:attribute name="Dimension" type="enumPivotDimension" use="optional" />
        <xs:attribute name="Serie" type="xs:string" use="optional" />
        <xs:attribute name="Grouping" type="xs:boolean" use="optional" />
        <xs:attribute name="FirstDayOfWeek" type="enumDayOfWeek" use="optional" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:simpleType name="enumDashboardArrangeMode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Default" />
      <xs:enumeration value="Canvas" />
      <xs:enumeration value="Size" />
      <xs:enumeration value="Visibility" />
    </xs:restriction>
  </xs:simpleType>

	<xs:complexType name="dashboardElement">
		<xs:complexContent>
			<xs:extension base="containerElement">
				<xs:attribute name="TileChangedMethodName" type="xs:string" use="optional" />
				<xs:attribute name="FocusedValue" type="xs:string" use="optional" />
				<xs:attribute name="ArrangeMode" type="enumDashboardArrangeMode" use="optional" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="commandElement" mixed="true">
		<xs:complexContent>
			<xs:extension base="uiElement">
				<xs:sequence minOccurs="0">
					<xs:choice maxOccurs="unbounded">
						<xs:element name="Command" type="commandElement"/>
						<xs:element name="Group" type="groupCommandElement"/>
						<xs:element name="Template" type="templateElement"/>
					</xs:choice>
				</xs:sequence>
				<xs:attribute name="MethodName" type="xs:string" use="optional"/>
				<xs:attribute name="MoreMethodName" type="xs:string" use="optional"/>
				<xs:attribute name="Script" type="xs:string" use="optional"/>
				<xs:attribute name="Key" type="xs:string" use="optional"/>
				<xs:attribute name="CommandStyle" type="enumCommandStyle" use="optional"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:simpleType name="enumCommandStyle">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Default" />
			<xs:enumeration value="Important" />
			<xs:enumeration value="Red" />
			<xs:enumeration value="Green" />
			<xs:enumeration value="Blue" />
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="userControlElement" mixed="true">
    <xs:complexContent>
      <xs:extension base="uiElement">
        <xs:sequence minOccurs="0">
          <xs:choice maxOccurs="unbounded">
            <xs:element name="Data" type="dataElement" maxOccurs="unbounded" />
          </xs:choice>
        </xs:sequence>
        <xs:attribute name="TypeName" type="xs:string" use="optional" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

	<xs:complexType name="timelineClockElement">
		<xs:complexContent>
			<xs:extension base="collectionElement">
				<xs:attribute name="LegendPosition" type="enumUIAlignment" use="optional" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="dateNavigatorElement">
		<xs:complexContent>
			<xs:extension base="uiElement">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="circularIndicatorElement">
		<xs:complexContent>
			<xs:extension base="collectionElement">
				<xs:attribute name="Title" type="xs:string" use="optional" />
				<xs:attribute name="LegendPosition" type="enumUIAlignment" use="optional" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="chipsElement">
		<xs:complexContent>
			<xs:extension base="uiElement">
				<xs:attribute name="BgColor" type="ChipsColorType" use="optional" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="groupByElement">
    <xs:complexContent>
      <xs:extension base="uiElement">
				<xs:attribute name="IsDescending" type="xs:boolean" use="optional" />
				<xs:attribute name="PreventSorting" type="xs:boolean" use="optional" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="htmlElement">
    <xs:complexContent>
      <xs:extension base="uiElement">
				<xs:attribute name="ScrollBarsEnabled" type="xs:boolean" use="optional" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="markdownElement">
    <xs:complexContent>
      <xs:extension base="uiElement">
				<xs:attribute name="ScrollBarsEnabled" type="xs:boolean" use="optional" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="uiElement" mixed="true">
    <xs:sequence minOccurs="0">
      <xs:choice maxOccurs="unbounded">
        <xs:element name="Appearance" type="appearanceElement" />
      </xs:choice>
    </xs:sequence>

    <xs:attribute name="DataContext" type="xs:string" use="optional" />
    <xs:attribute name="EditValue" type="xs:string" use="optional" />
    <xs:attribute name="Name" type="xs:string" use="optional" />
		<xs:attribute name="CaptionHtml" type="xs:string" use="optional" />
		<xs:attribute name="CaptionMarkdown" type="xs:string" use="optional" />
    <xs:attribute name="DescriptionHtml" type="xs:string" use="optional" />
    <xs:attribute name="LangContext" type="xs:string" use="optional" />
    <xs:attribute name="Icon" type="xs:string" use="optional" />
    <xs:attribute name="Class" use="optional">
      <xs:simpleType>
        <xs:list itemType="enumSingleClass" />
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Width" type="xs:string" use="optional" />
    <xs:attribute name="Height" type="xs:string" use="optional" />
    <xs:attribute name="OuterWidth" type="xs:string" use="optional" />
    <xs:attribute name="OuterHeight" type="xs:string" use="optional" />
    <xs:attribute name="LabelWidth" type="xs:string" use="optional" />
    <xs:attribute name="LabelHeight" type="xs:string" use="optional" />
		<xs:attribute name="Column" type="xs:integer" use="optional" />
		<xs:attribute name="Row" type="xs:integer" use="optional" />
		<xs:attribute name="Visibility" type="xs:string" use="optional" />
    <xs:attribute name="LayoutMode" type="enumLayoutMode" use="optional" />
    <xs:attribute name="IsReadOnly" type="xs:string" use="optional" />
    <xs:attribute name="Tag" type="xs:string" use="optional" />
    <xs:attribute name="TagInfo" type="xs:string" use="optional" />
    <xs:attribute name="Priority" type="xs:integer" use="optional" />
		<xs:attribute name="RenderMethodName" type="xs:string" use="optional" />
		<xs:attribute name="Renderable" type="xs:string" use="optional" />
		<xs:attribute name="RenderKey" type="xs:string" use="optional" />
  </xs:complexType>

  <xs:complexType name="appearanceElement">
    <xs:attribute name="Condition" type="xs:string" use="optional" />
    <xs:attribute name="BackColor" type="xs:string" use="optional" />
    <xs:attribute name="ForeColor" type="xs:string" use="optional" />
    <xs:attribute name="FontBold" type="xs:boolean" use="optional" />
    <xs:attribute name="FontItalic" type="xs:boolean" use="optional" />
  </xs:complexType>

  <!-- ENUMS -->

  <xs:simpleType name="ChipsColorType">
	<xs:union memberTypes="enumChipsColorPalette freePattern"/>
  </xs:simpleType>

  <xs:simpleType name="freePattern">
	<xs:restriction base="xs:string">
	  <xs:pattern value="\{[^}]+\}"/>
	</xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="enumLayoutMode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Default" />
      <xs:enumeration value="Canvas" />
      <xs:enumeration value="Size" />
      <xs:enumeration value="Visibility" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="enumDataFormView">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Dialog" />
      <xs:enumeration value="Form" />
      <xs:enumeration value="Folder" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="enumDataFormMode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Form" />
      <xs:enumeration value="Folder" />
      <xs:enumeration value="Wizard" />
      <xs:enumeration value="Modal" />
			<xs:enumeration value="Popup" />
			<xs:enumeration value="Frame" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="enumCollectionButtonState">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Auto" />
      <xs:enumeration value="None" />
      <xs:enumeration value="Visible" />
    </xs:restriction>
  </xs:simpleType>

	<xs:simpleType name="enumMoreButtonState">
		<xs:restriction base="xs:string">
			<xs:enumeration value="None" />
			<xs:enumeration value="Visible" />
			<xs:enumeration value="Actions" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="enumAggregationType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Auto" />
      <xs:enumeration value="None" />
      <xs:enumeration value="Sum" />
      <xs:enumeration value="Count" />
      <xs:enumeration value="Average" />
      <xs:enumeration value="Min" />
      <xs:enumeration value="Max" />
      <xs:enumeration value="Concat" />
      <xs:enumeration value="UniqueConcat" />
      <xs:enumeration value="Same" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="enumCollectionSumType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Selected" />
      <xs:enumeration value="All" />
      <xs:enumeration value="Groups" />
      <xs:enumeration value="GroupsNewLine" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="enumTreeExpandingLevel">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Collapsed" />
      <xs:enumeration value="ExpandRoot" />
      <xs:enumeration value="ExpandRootFix" />
      <xs:enumeration value="ExpandAll" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="enumSchedulerViews">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Daily" />
      <xs:enumeration value="WorkWeek" />
      <xs:enumeration value="Weekly" />
      <xs:enumeration value="Monthly" />
      <xs:enumeration value="HoursTimeLine" />
      <xs:enumeration value="DaysTimeLine" />
      <xs:enumeration value="SimpleMonthly" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="enumUIAlignment">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Left" />
      <xs:enumeration value="Right" />
      <xs:enumeration value="Bottom" />
    </xs:restriction>
  </xs:simpleType>

	<xs:simpleType name="enumGanttViews">
		<xs:restriction base="xs:string">
			<xs:enumeration value="HourMinute" />
			<xs:enumeration value="DayHour" />
			<xs:enumeration value="WeekDay" />
			<xs:enumeration value="MonthDay" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="enumGanttViewMode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Standard" />
			<xs:enumeration value="ResourceView" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="enumPivotDirection">
    <xs:restriction base="xs:string">
      <xs:enumeration value="X" />
      <xs:enumeration value="Y" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="enumPivotDimension">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Enum" />
      <xs:enumeration value="AZ" />
      <xs:enumeration value="Hash10" />
      <xs:enumeration value="Hash3" />
      <xs:enumeration value="WeekByDays" />
      <xs:enumeration value="MonthByDays" />
      <xs:enumeration value="ByNumbers" />
      <xs:enumeration value="ByDays" />
      <xs:enumeration value="ByWeeks" />
      <xs:enumeration value="ByMonths" />
      <xs:enumeration value="ByYears" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="enumActionsMode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="FormAndControl" />
      <xs:enumeration value="Control" />
      <xs:enumeration value="Form" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="enumChartType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Line" />
      <xs:enumeration value="Bar" />
      <xs:enumeration value="Pie" />
      <xs:enumeration value="Donut" />
      <xs:enumeration value="Spider" />
      <xs:enumeration value="Polar" />
      <xs:enumeration value="Area" />
      <xs:enumeration value="Pyramid" />
      <xs:enumeration value="Funnel" />
      <xs:enumeration value="Bubble" />
      <xs:enumeration value="Scatter" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="enumColorPalette">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Red" />
      <xs:enumeration value="Orange" />
      <xs:enumeration value="Yellow" />
      <xs:enumeration value="Blue" />
      <xs:enumeration value="Grey" />
      <xs:enumeration value="Green" />
			<xs:enumeration value="Turquise" />
		</xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="enumChipsColorPalette">
    <xs:restriction base="xs:string">
	  <xs:enumeration value="None" />
	  <xs:enumeration value="Black" />
      <xs:enumeration value="GrayPastel" />
      <xs:enumeration value="GreenPastel" />
      <xs:enumeration value="OrangePastel" />
      <xs:enumeration value="RedPastel" />
	  <xs:enumeration value="White" />
	</xs:restriction>
  </xs:simpleType>

	<xs:simpleType name="enumChartLabelPosition">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Center" />
			<xs:enumeration value="Left" />
			<xs:enumeration value="Right" />
			<xs:enumeration value="DataLabelEnable" />
			<xs:enumeration value="AggregateEnable" />
			<xs:enumeration value="AreaSeries" />
			<xs:enumeration value="AreaSeriesAggregate" />
			<xs:enumeration value="BarEnabled" />
			<xs:enumeration value="BarInnerTop" />
			<xs:enumeration value="BarSeriesTop" />
			<xs:enumeration value="BarInnerCenter" />
			<xs:enumeration value="BarSeriesCenter" />
			<xs:enumeration value="BarInnerBottom" />
			<xs:enumeration value="BarSeriesBottom" />
			<xs:enumeration value="BarSeriesAggregateTop" />
			<xs:enumeration value="BarSeriesAggregateCenter" />
			<xs:enumeration value="BarSeriesAggregateBottom" />
			<xs:enumeration value="None" />
		</xs:restriction>
	</xs:simpleType>

    <xs:simpleType name="enumPieChartLabelPosition">
       <xs:restriction base="xs:string">
          <xs:enumeration value="Circle" />
          <xs:enumeration value="Side" />
       </xs:restriction>
    </xs:simpleType>

  <xs:simpleType name="enumStackType">
	  <xs:restriction base="xs:string">
		  <xs:enumeration value="Stack" />
		  <xs:enumeration value="Side" />
		  <xs:enumeration value="Overlay" />
		  <xs:enumeration value="Percentage" />
	  </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="enumDayOfWeek">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Sunday" />
      <xs:enumeration value="Monday" />
      <xs:enumeration value="Tuesday" />
      <xs:enumeration value="Wednesday" />
      <xs:enumeration value="Thursday" />
      <xs:enumeration value="Friday" />
      <xs:enumeration value="Saturday" />
    </xs:restriction>
  </xs:simpleType>

	<xs:simpleType name="enumTreeDiagramLayoutType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="OrganizationalChart" />
			<xs:enumeration value="ComplexHierarchicalTree" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="enumArrangeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Horizontally" />
			<xs:enumeration value="Vertically" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="enumSingleClass">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Collapsable" />
			<xs:enumeration value="Expandable" />
			<xs:enumeration value="Dialog" />
			<xs:enumeration value="NoSave" />
			<xs:enumeration value="Information" />
			<xs:enumeration value="Question" />
			<xs:enumeration value="MainPage" />
			<xs:enumeration value="Menu" />
			<xs:enumeration value="DataBar" />
			<xs:enumeration value="PreviewLine" />
			<xs:enumeration value="FirstResponder" />
			<xs:enumeration value="SmartOpen" />
			<xs:enumeration value="Header" />
			<xs:enumeration value="Panel" />
			<xs:enumeration value="PanelItem" />
			<xs:enumeration value="PanelWinItem" />
			<xs:enumeration value="NoLayout" />
			<xs:enumeration value="RemoveEmpty" />
			<xs:enumeration value="GroupItem" />
			<xs:enumeration value="Reverse" />
			<xs:enumeration value="PrintButton" />
			<xs:enumeration value="MainCommand" />
			<xs:enumeration value="SplitCommand" />
			<xs:enumeration value="CommandNoText" />
			<xs:enumeration value="CommandIcoText" />
			<xs:enumeration value="WorkerCommand" />
			<xs:enumeration value="WizardCommand" />
			<xs:enumeration value="Tight" />
			<xs:enumeration value="Special" />
			<xs:enumeration value="Important" />
			<xs:enumeration value="LateCalculate" />
			<xs:enumeration value="MainGroup" />
			<xs:enumeration value="MenuGroup" />
			<xs:enumeration value="NoClose" />
			<xs:enumeration value="CascadeMenu" />
			<xs:enumeration value="CascadeMenuGroup" />
			<xs:enumeration value="CascadeSubmenuGroup" />
			<xs:enumeration value="Expanded" />
			<xs:enumeration value="FilterGroup" />
			<xs:enumeration value="SchedulerCommand" />
			<xs:enumeration value="SchedulerLabel" />
			<xs:enumeration value="AllowDragging" />
			<xs:enumeration value="AllowEditing" />
			<xs:enumeration value="DisableSelection" />
			<xs:enumeration value="RightAlign" />
			<xs:enumeration value="LeftAlign" />
			<xs:enumeration value="PasswordEdit" />
			<xs:enumeration value="PathPropertyEdit" />
			<xs:enumeration value="PropertyGridEdit" />
			<xs:enumeration value="CheckButtonEdit" />
			<xs:enumeration value="ColorEdit" />
			<xs:enumeration value="HistoryEdit" />
			<xs:enumeration value="RichEdit" />
			<xs:enumeration value="AspxEdit" />
			<xs:enumeration value="NoColonLabel" />
			<xs:enumeration value="FolderEdit" />
			<xs:enumeration value="FileEdit" />
			<xs:enumeration value="SaveFileEdit" />
			<xs:enumeration value="ImageEdit" />
			<xs:enumeration value="XmlEdit" />
			<xs:enumeration value="AlgorithmEdit" />
			<xs:enumeration value="DataTextEdit" />
			<xs:enumeration value="ConditionEdit" />
			<xs:enumeration value="RatingEdit" />
			<xs:enumeration value="SignatureEdit" />
			<xs:enumeration value="OneTimePasswordEdit" />
			<xs:enumeration value="BoldLabel" />
			<xs:enumeration value="CenterLabel" />
			<xs:enumeration value="RightLabel" />
			<xs:enumeration value="WarningLabel" />
			<xs:enumeration value="MultilineLabel" />
			<xs:enumeration value="InfoLabel" />
			<xs:enumeration value="TipLabel" />
			<xs:enumeration value="HyperlinkEdit" />
			<xs:enumeration value="EmailEdit" />
			<xs:enumeration value="PhoneEdit" />
			<xs:enumeration value="SkypeEdit" />
			<xs:enumeration value="GpsEdit" />
			<xs:enumeration value="LargeFont" />
			<xs:enumeration value="GreenFont" />
			<xs:enumeration value="RedFont" />
			<xs:enumeration value="FixedWidthFont" />
			<xs:enumeration value="BoldFont" />
			<xs:enumeration value="WarningFont" />
			<xs:enumeration value="TextRight" />
			<xs:enumeration value="Rss" />
			<xs:enumeration value="PreventOrderBy" />
			<xs:enumeration value="HorizontalSplitter" />
			<xs:enumeration value="Info" />
			<xs:enumeration value="Tree" />
			<xs:enumeration value="ImageCircle" />
			<xs:enumeration value="DashboardItem" />
			<xs:enumeration value="LocatorItem" />
			<xs:enumeration value="FormNavigationCommand" />
			<xs:enumeration value="DisableSelection" />
			<xs:enumeration value="SmallSize" />
			<xs:enumeration value="NormalSize" />
			<xs:enumeration value="LargeSize" />
			<xs:enumeration value="IconEdit" />
			<xs:enumeration value="ProgressEdit" />
			<xs:enumeration value="TrafficLightEdit" />
			<xs:enumeration value="AutoUpdate" />
			<xs:enumeration value="ArrowsSelectNext" />
			<xs:enumeration value="Hidden" />
			<xs:enumeration value="Scrollable" />
			<xs:enumeration value="NonClickable" />
			<xs:enumeration value="LabelTop" />
			<xs:enumeration value="LebelLeft" />
			<xs:enumeration value="FilesDropTarget" />
		</xs:restriction>
  </xs:simpleType>

</xs:schema>